@{
    Layout = "/Views/Shared/_LayoutNew.cshtml";
}

<div class="container-wrap">
    <div class="container">
        <div class="layui-form-item">
            <label class="layui-form-label">博客标题</label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title" required lay-verify="required" placeholder="请输入博客标题" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-block">
                <input type="text" id="author" name="author" placeholder="请输入作者" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">博客正文</label>
            <div class="layui-input-block">
                <div id="contents"></div>
                @*<textarea lay-verify="contents" id="contents" name="contents" placeholder="请输入内容" class="layui-textarea"></textarea>*@
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" onclick="Save()">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </div>
</div>

<script src="~/res/layui/lay/modules/layedit.js"></script>
<script src="~/res/layui/lay/modules/form.js"></script>
<script src="~/js/wangEditor.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var str = "<li class=\"layui-nav-item\"><a href=\"/Home/Index\">首页</a></li>";
        str += "<li class=\"layui-nav-item\"><a href=\"/Home/Message\">留言</a></li>";
        str += "<li class=\"layui-nav-item layui-this\"><a href=\"/Home/PublishView\">发布</a></li>";
        $("#ulnav").html(str);
    });

    

    var E = window.wangEditor
    var editor2 = new E('#contents');
    // 自定义菜单配置
    editor2.customConfig.menus = [
        'head',
        'bold',
        'italic',
        'underline'
    ]
    editor2.create();

    layui.use('form', function () {
        var form = layui.form;
        //自定义验证规则
        form.verify({
            contents: function (value) {
                this.sync(index);
            }
        });

        //监听提交
        form.on('submit(formDemo)', function (data) {
            alert(this.getContent(index));
            layer.msg(JSON.stringify(data.field));
            $.ajax({
                url: "/Home/PublishView",
                type: "post",
                dataType: "json",
                async: false,
                data: { obj: JSON.stringify(data.field) },
                success: function (data) {
                    layer.msg(data.message);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }
            });
            return false;
        });
    });

    function Save() {
        var obj = new Object();
        obj.title = $("#title").val();
        obj.author = $("#author").val();
        obj.contents = editor2.txt.html();
        console.log($("#title").val());
        //$("#contents").val();
        $.ajax({
            url: "/Home/PublishView",
            type: "post",
            dataType: "json",
            async: false,
            data: { obj: JSON.stringify(obj) },
            success: function (data) {
                layer.msg(data.message);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });
    }
</script>
